/* LinedTextArea.css */

.lined-text-area {
    display: flex;
    position: relative;
    width: 1000px;
    max-height: 300px; /* Altura máxima para el contenedor */
    overflow: hidden; /* Oculta cualquier desbordamiento que no esté cubierto por los hijos */
    justify-content: center;
  }
  
  .line-numbers {
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    text-align: right;
    user-select: none;
    color: #888;
    font-family: monospace;
    max-height: 250px; /* Altura máxima para los números de línea */
    overflow-y: hidden; /* Permite el desplazamiento vertical */
  }
  
  .text-area {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-family: monospace;
    resize: none;
    line-height: 19.5px;
    max-height: 250px; /* Altura máxima para la textarea */
    overflow-y: auto; /* Permite el desplazamiento vertical */
  }
  
  .line-numbers > div {
    line-height: 1.5em; /* Match the line-height of the textarea */
  }
  